@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}

h1 {
    font-weight: 600;
    font-size: 1.45rem;
    line-height: 2.1;
    color: #222222;
}

li {
    list-style-type: none;
}

img {
    display: block;
}

@font-face {
    font-family: 'Metropolis';
    font-weight: normal;
    src: url('../Fonts/metropolis.thin.otf') format('opentype');
}

@font-face {
    font-family: 'Metropolis';
    font-weight: bold;
    src: url('../Fonts/metropolis.bold.otf') format('opentype');
}

.wrapper {
    width: 100vw;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.btn {
    background-color: #db3022;
    cursor: pointer;
}

/** HEADER SECTION STYLE  **/
header {
    display: flex;
    width: 100%;
    flex-flow: row;
    align-items: center;
    position: absolute;
    z-index: 3;
    margin-top: 3rem;
}

.maniera-home {
    width: 10%;
}

.maniera-nav {
    display: flex;
    align-items: center;
    flex-flow: row;
    width: 80%;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
}

.main-nav li {
    padding-right: 0.625rem;
    font-size: 1rem;
    font-weight: 500;
}

.main-nav > li > button.btn {
    width: 6rem;
    height: 2.65rem;
    border-radius: 4px;
    border: 2px solid #db3022;
    color: #fdf0ef;
    font-size: 0.952rem;
    cursor: pointer;
}

.cart-count {
    background-color: #e2271c;
    border-radius: 50%;
    color: #ffffff;
    font-size: 0.812rem;
    padding: 0.2rem 0.435em 0.15rem 0.45rem;
    text-align: center;
}

.search {
    width: 50.3333%;
}

div.form-group {
    display: flex;
    width: 100%;
    flex-grow: 1;
    background-color: #f9f9f9;
    border-radius: 4px;
    height: 48px;
}

.form-group:hover {
    border: 1px solid #f9f9f9;
}

.form-control {
    outline: none;
    border: none;
    width: 85%;
    padding-left: 0.852rem;
    border: 2px solid #979797;
    border-radius: 4px 0px 0px 4px;
}

.btn.home-search {
    width: 15%;
    border: 2px solid #db3022;
    border-radius: 0 4px 4px 0px;
}

.fal.fa-search {
    color: #fdf0ef;
}

nav {
    margin-left: 0.52rem;
    width: 45.21111%;
}

/** HERO SECTION STYLE ENDS **/

/** HERO SECTION STYLE  **/
.maniera-hero {
    position: relative;
    width: 100%;
    height: 670px;
    background: #f3f3f3;
}

.maniera-hero-content {
    position: absolute;
    z-index: 9;
    margin-top: 14rem;
    display: flex;
    flex-flow: row;
    flex-grow: 1;
}

.hero-text {
    width: 40%;
}

.hero-text > h2 {
    font-size: 2.325rem;
    width: 67%;
    line-height: 47px;
}

.btn.btn-seller {
    color: #ffcaca;
    border: 2px solid #db3022;
    width: 13.625rem;
    height: 2.3rem;
    margin-top: 1.3rem;
    font-size: 1.2rem;
    font-family: 'Metropolis', sans-serif;
}

.btn-seller:hover {
    background-color: #ffcaca;
    color: #222222;
}

small {
    display: block;
    margin-top: 0.52rem;
    margin-left: 1.125rem;
}

.hero-text-date {
    margin-top: 5rem;
    margin-left: 1.125rem;
}

.hero-text-date > p {
    font-family: 'Dancing Script', cursive;
    font-size: 1.825rem;
}

.hero-text-date > h2 {
    font-size: 2.25rem;
    color: #e2271c;
    margin-left: -1.125rem;
}

.hero-image {
    width: 51%;
    margin-top: -203px;
    margin-left: 119px;
}

.hero-image > img {
    vertical-align: middle;
    width: 100%;
}

/** HERO SECTION STYLE ENDS **/

main {
    margin: 5rem 0rem 3rem;
}

div.main-heading {
    display: flex;
    justify-content: space-between;
}

.products-listing {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row;
    margin-top: 1.725rem;
}

.product-thumbnail {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    background: #ffffff;
    border: 1px solid rgba(218, 218, 218, 0.5);
    height: 22rem;
    margin-right: 0.5rem;
}

.product-thumbnail:nth-of-type(5) {
    margin-right: 0rem;
}

.thumbnail-img > img {
    width: 100%;
}

.thumbnail-text {
    padding: 0 0.425rem;
    width: 100%;
}

.thumbnail-text > h4 {
    font-size: 1.341rem;
    line-height: 37px;
}

.category {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    line-height: 35px;
}

.fas.fa-star {
    color: #ffba49;
}

.far.fa-star {
    color: #efefef;
}

.category > span,
.rated-stars > span {
    font-family: 'Metropolis';
    font-size: 0.967rem;
    color: #9b9b9b;
    font-weight: 400;
}

.category > p {
    font-weight: 600;
    font-size: 0.967rem;
}

.purchase-selector {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.325rem;
}

.btn-product {
    background-color: #ffff;
    color: #00579f;
    border: 2px solid #00579f;
    border-radius: 4px;
    width: 5.4rem;
    height: 1.85rem;
    font-weight: 500;
    font-size: 0.74rem;
    cursor: pointer;
}

.btn-product:hover,
.btn-product:nth-of-type(2):hover {
    background-color: #79b0dd;
    color: #222222;
}

.btn-product:nth-of-type(2) {
    background-color: #00579f;
    color: #ffffff;
}

.maniera-order {
    background: url('https://i.imgur.com/rTYNL48.png') no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(4px);
    height: 25rem;
    text-align: center;
    width: 100%;
    position: relative;
}

.maniera-order-content {
    margin: 0 auto;
    text-align: center;
    padding-top: 8.125rem;
    width: 75vw;
}

.maniera-order-content > h2 {
    color: #ffffff;
    font-family: 'Metropolis';
    font-weight: 600;
    font-size: 3.525rem;
}

.btn-order {
    margin-top: 2rem;
    background-color: #e2594e;
    border-radius: 6rem;
    height: 3.325rem;
    width: 15rem;
    color: #ffffff;
    font-family: 'Metropolis';
    font-weight: 600;
    border: none;
    font-size: 1.11rem;
    text-align: center;
    cursor: pointer;
}

.btn-order:hover {
    background-color: #ffcaca;
    color: #222222;
}

section.newly-added,
section.recently-viewed {
    margin-top: 2.625rem;
}

@media only screen and (min-width: 576px) {
    .wrapper {
        max-width: 540px;
    }
}

@media only screen and (min-width: 768px) {
    .wrapper {
        max-width: 720px;
    }
}

@media only screen and (min-width: 992px) {
    .wrapper {
        max-width: 950px;
    }
}

@media only screen and (min-width: 1200px) {
    .wrapper {
        max-width: 1120px;
    }
}
