@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;700;800&display=swap");
@import url("header.css");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Inter", sans-serif;
	overflow-x: hidden;
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

img {
	display: block;
}

.wrapper a {
	color: unset;
	text-decoration: none;
}
.wrapper a:hover {
	color: unset;
}

@font-face {
	font-family: "Metropolis";
	font-weight: normal;
	src: url("../Fonts/metropolis.thin.otf") format("opentype");
}

@font-face {
	font-family: "Metropolis";
	font-weight: bold;
	src: url("../Fonts/metropolis.bold.otf") format("opentype");
}

.wrapper {
	width: 100vw;
	padding-right: 1rem;
	padding-left: 1rem;
	margin-right: auto;
	margin-left: auto;
}

/** HERO SECTION STYLE  **/
.maniera-hero {
	position: relative;
	width: 100vw;
	min-height: 765px;
	background: #f3f3f3;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0px 0px;
	z-index: 1;
}

.maniera-hero-content {
	position: absolute;
	z-index: 9;
	margin-top: 14rem;
	display: flex;
	flex-flow: row;
	flex-grow: 1;
}

.hero-text {
	width: 40%;
}

.hero-text > h2 {
	font-size: 2.325rem;
	width: 67%;
	line-height: 47px;
}

.btn.btn-seller {
	color: #ffcaca;
	border: 2px solid #db3022;
	width: 13.625rem;
	height: 2.3rem;
	margin-top: 1.3rem;
	font-size: 1.2rem;
	font-family: "Metropolis", sans-serif;
	background-color: #db3022;
	cursor: pointer;
}

.btn-seller:hover {
	background-color: #ffcaca;
	color: #222222;
}

small {
	display: block;
	margin-top: 0.52rem;
	margin-left: 1.125rem;
}

.hero-text-date {
	margin-top: 5rem;
	margin-left: 1.125rem;
}

.hero-text-date > p {
	font-family: "Dancing Script", cursive;
	font-size: 1.825rem;
}

.hero-text-date > h2 {
	font-size: 2.25rem;
	color: #e2271c;
	margin-left: -1.125rem;
}

.hero-image {
	width: 51%;
	margin-top: -203px;
	margin-left: 119px;
}

.hero-image > img {
	vertical-align: middle;
	width: 100%;
}

/** HERO SECTION STYLE ENDS **/

main {
	margin: 5rem 0rem 3rem;
}

div.main-heading {
	display: flex;
	justify-content: space-between;
}

.products-listing {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-flow: row nowrap;
	margin-top: 1.725rem;
}

.product-thumbnail {
	display: flex;
	flex-flow: column;
	flex-grow: 1;
	background: #ffffff;
	border: 1px solid rgba(218, 218, 218, 0.5);
	min-height: 22rem;
	margin-right: 0.5rem;
	padding-bottom: 0.52rem;
}

.product-thumbnail:nth-of-type(5) {
	margin-right: 0rem;
}

.thumbnail-img > img {
	width: 100%;
}

.thumbnail-text {
	padding: 0 0.425rem;
	width: 100%;
}

.thumbnail-text > h4 {
	font-size: 1.341rem;
	line-height: 37px;
}

.category {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	line-height: 35px;
}

.fas.fa-star {
	color: #ffba49;
}

.far.fa-star {
	color: #efefef;
}

.category > span,
.rated-stars > span {
	font-family: "Metropolis";
	font-size: 0.967rem;
	color: #9b9b9b;
	font-weight: 400;
}

.category > p {
	font-weight: 600;
	font-size: 0.967rem;
}

.purchase-selector {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin-top: 1.325rem;
}

.btn-product {
	background-color: #ffff;
	color: #00579f;
	border: 2px solid #00579f;
	border-radius: 4px;
	width: 5.4rem;
	height: 1.85rem;
	font-weight: 500;
	font-size: 0.74rem;
	cursor: pointer;
}

.btn-product:hover,
.btn-product:nth-of-type(2):hover {
	background-color: #79b0dd;
	color: #222222;
}

.btn-product:nth-of-type(2) {
	background-color: #00579f;
	color: #ffffff;
}

.maniera-order {
	background: url("https://i.imgur.com/rTYNL48.png") no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
	background-attachment: fixed;
	backdrop-filter: blur(4px);
	min-height: 25rem;
	text-align: center;
	width: 100%;
	position: relative;
}

.maniera-order-content {
	margin: 0 auto;
	text-align: center;
	padding-top: 8.125rem;
	width: 75vw;
}

.maniera-order-content > h2 {
	color: #ffffff;
	font-family: "Metropolis";
	font-weight: 600;
	font-size: 3.525rem;
}

.btn-order {
	margin-top: 2rem;
	background-color: #e2594e;
	border-radius: 6rem;
	height: 3.325rem;
	width: 15rem;
	color: #ffffff;
	font-family: "Metropolis";
	font-weight: 600;
	border: none;
	font-size: 1.11rem;
	text-align: center;
	cursor: pointer;
	margin-bottom: 4.125rem;
}

.btn-order:hover {
	background-color: #ffcaca;
	color: #222222;
}

section.newly-added,
section.recently-viewed {
	margin-top: 2.625rem;
}

@media only screen and (min-width: 320px) {
	.wrapper {
		max-width: 320px;
	}
}

@media only screen and (min-width: 576px) {
	.wrapper {
		max-width: 540px;
	}
}

@media only screen and (min-width: 768px) {
	.wrapper {
		max-width: 720px;
	}
}

@media only screen and (min-width: 992px) {
	.wrapper {
		max-width: 950px;
	}

	.hero-image {
		margin-top: -91px;
		margin-left: 87px;
	}
}

@media only screen and (min-width: 1200px) {
	.wrapper {
		max-width: 1120px;
	}

	.hero-image {
		margin-top: -162px;
		margin-left: 97px;
	}
}

@media (min-width: 320px) and (max-width: 780px) {
	.maniera-hero {
		width: 100%;
	}

	.hero-text {
		width: 47%;
	}

	.hero-image {
		margin-left: 66px;
		margin-top: -81px;
	}

	.hero-image > img {
		height: 450px;
	}

	.products-listing {
		flex-flow: row wrap;
	}

	.product-thumbnail {
		margin: 0rem 0.5rem 1rem 0rem;
	}
}

@media (max-width: 425px) {
	.hero-text {
		width: 100%;
	}

	.hero-image {
		display: none;
	}
}
