@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Metropolis';
    font-weight: normal;
    src: url('../Fonts/metropolis.thin.otf') format('opentype');
}

@font-face {
    font-family: 'Metropolis';
    font-weight: bold;
    src: url('../Fonts/metropolis.bold.otf') format('opentype');
}

.request-banner {
    position: relative;
    width: 100vw;
    min-height: 653px;
    background: #f3f3f3;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 0px;
}

div.request-banner-heading {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Metropolis';
    color: #000000;
}

div.request-banner-heading h2 {
    font-size: 2.325rem;
    font-weight: 600;
    line-height: 1.5;
}

div.request-banner-heading p {
    font-size: 1.2125rem;
    font-weight: normal;
}

section.request-form {
    margin-top: -17.456rem;
    position: relative;
}

form {
    max-width: 860px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 0.25rem 0.25rem 0.271rem 0.342rem rgba(0, 0, 0, 0.04),
        -0.25rem -0.25rem 0.75rem 0.342rem rgba(0, 0, 0, 0.04);
    padding: 4.125rem 3.625rem;
}

div.req-form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Metropolis';
    padding: 1.325rem 0rem;
}

div.req-form-group label {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 600;
}

div.req-form-group .form-control {
    height: 2.543rem;
    border: 0.06rem solid #000000;
    border-radius: 0.25rem;
}

div.req-form-group:nth-child(5),
div.req-form-group:nth-child(6),
div.req-form-group:nth-child(7),
div.req-form-group:nth-child(8) {
    flex-flow: row;
    justify-content: space-between;
}

div.sub-form-group {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    width: 45%;
}

div.sub-form-group div.select-control {
    font-family: 'Metropolis';
    width: 100%;
    position: relative;
    user-select: none;
}

div.display-select-input:focus {
    border-color: #aaaaaa;
    outline: 0;
    box-shadow: inset 0 -1.3rem 1rem 0 rgba(0, 0, 0, 0.09);
}

div.display-select-input {
    border-radius: 0.25rem;
    border: 0.1rem solid #000000;
    cursor: pointer;
    display: flex;
    flex-flow: column;
}

div.option-display {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 2.543rem;
    padding: 0 1rem;
    font-size: 0.8532rem;
    line-height: 2.543rem;
    font-weight: 600;
    background-color: #ffffff;
    cursor: pointer;
}

div.option-items-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 0.02rem solid #000000;
    border-top: 0;
    background: #fff;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
}

div.display-select-input.show .option-items-list {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

div.option-items {
    position: relative;
    display: block;
    padding: 0 1rem 0 1rem;
    font-size: 0.8542rem;
    cursor: pointer;
    line-height: 2.543rem;
    transition: all 0.5rem;
    box-shadow: 0rem 0rem 0.15rem rgba(0, 0, 0, 0.25);
    border: 0.02rem solid #b2b2b5;
    font-weight: 600;
}

div.option-items:hover {
    background-color: #db3022;
    color: #ffffff;
}

div.req-form-group textarea {
    height: 12rem;
    background: #f3f3f3;
    border: 0.04rem solid #000000;
    border-radius: 0.25rem;
    padding-top: 0.852rem;
    padding-left: 1.625rem;
    font-family: 'Metropolis';
    font-size: 1.1rem;
    line-height: 1.3;
}

div.req-form-group div.upload-group {
    background: #f3f3f3;
    border: 0.125rem dashed #000000;
    border-radius: 0.25rem;
    height: 9rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

div.req-form-group div.upload-group p {
    font-family: 'Metropolis';
    font-weight: 600;
    font-size: 0.9123rem;
    line-height: 1.5;
    padding-bottom: 0.7125rem;
    color: #760900;
}

div.req-form-group div.upload-group button.btn.btn-request-upload {
    width: 12rem;
    height: 3rem;
    background: #db3022;
    border-radius: 0.25rem;
    color: #ffffff;
    font-family: 'Metropolis';
    font-size: 0.9123rem;
    font-weight: 600;
    border: none;
}

form button.btn.btn-request-form {
    width: 17.5rem;
    height: 3rem;
    background: #db3022;
    border-radius: 0.25rem;
    color: #ffffff;
    font-family: 'Metropolis';
    font-size: 0.9123rem;
    font-weight: 600;
    border: none;
    text-align: center;
    margin-top: 6rem;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}
