@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=Metropolis");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Metropolis", sans-serif !important;
}

.page-indicator {
	margin: 4rem 0;
	background: #f6f7f8;
}
.page-indicator span:first-child {
	color: #db3022;
	font-weight: 600;
}
