@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=Metropolis");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Metropolis", sans-serif !important;
	letter-spacing: 0.02em;
}
.current-size {
	background: #5b5b5b;
	color: #ffffff;
}

.page-indicator {
	margin: 4rem 0;
	background: #f6f7f8;
}
.page-indicator span:first-child {
	color: #db3022;
	font-weight: 600;
}

.product-left-section .images-product-sample {
	height: 550px;
}

.product-sample-images {
	border-bottom: 1px solid #bdbdbd;
}

.desciption-time {
	font-size: 14px;
	color: #222222cc;
}

.sizes-div {
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 42px;
	height: 42px;
	border: 1px solid #979797;
	margin-right: 10px;
}

.product-price .bonus {
	color: #db3022;
}

.product-quantity div div {
	height: 30px;
	border: 1px solid #9b9b9b;
	display: flex;
	align-items: center;
	border-radius: 2px;
}

.checkout-btn {
	background: #db3022;
}
.add-to-cart-btn {
	color: #db3022;
	border: 2px solid #db3022;
}
