@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden !important;
    background-color: whitesmoke;
    font-family: Playfair Display, sanserif;
}
/* 
.sign-in-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: -20px;
}

.top-bar{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    padding: 10px;
}
.top-bar img{
    position: relative;
    top: 18px;
}

button{
    position: relative;
    width: 153px;
    height: 33px;
    color: white;
    background: #DB3022;
    border-radius: 5px;
    border: none;
}

.warm-welcome p{
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    line-height: 34.66px;
    padding-top: 70px;
}    

.signin-buttons-container{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.facebook{
    width: 330px;
    height: 43px;
    background: #253B80;
    border-radius: 5px;
    margin-bottom: 10px;
}

.google{
    width: 330px;
    height: 43px;
    background: #FFFFFF;
    color: #000000;
    border: 1px solid #EFEFEF;
    border-radius: 5px;
}

.or{
    padding-top: 20px;
    display: grid;
    grid-template-columns: 6fr 2fr 6fr;
}

.or img{
    padding-top: 15px;
    width: 130px;
}

.or p{
    margin-top: 5px;
    font-size: 16px;
    line-height: 21.33px;
    font-weight: 400;
}

.signin-forms form{
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    align-items: center;
    justify-content: center;
}

.signin-forms form input{
    width: 330px;
    height: 43px;
    background: #FFFFFF;
    color: #000000;
    border: 1px solid #EFEFEF;
    border-radius: 5px;
    margin: 4px;
}

.signin-forms form button{
    width: 330px;
}

.signin-forms form input::placeholder{
    text-align: center;
}

.signin-forms form .login-button{
    width: 330px;
    height: 46px;
    background: cc;
    border-radius: 5px;
    margin-top: 30px;
    color: white;
}

.signin-button-container button{
    width: 330px;
    height: 46px;
    background: #DB3022;
    border-radius: 5px;
    margin-top: 30px;
}

.signin-links span a{
    color:  #DB3022;
    text-decoration: none;
} */

/* Desktop view */

.signin-container{
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.first-column{
    width: 80%;
    height: auto;
    background-color: #DB3022;
    width: 400px;
    color: white;
    padding: 130px 30px;
}

.first-column .top-row{
    display: flex;
    flex-direction: row;
    position: relative;
    top: -100px;
}

.first-column .second-row{
    position: relative;
    top: -10px;
    padding: 0%;
}

.first-column .second-row .connect{
    width: 300px;
    height: 50px;
    font-family: Metropolis;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24.57px;
    color: #FFFFFF;
}

.look-through{
    font-family: Metropolis;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 50px;
    color: #FFFFFF;
}


.second-column{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: white;
    padding-top: 113px;
    padding-bottom: 100px;
}

.second-column .seller-button{
   border: none;
   border-radius: 4px;
   color: white;
   background-color: #DB3022;
    margin-left: 200px;
    font-size: 13px;
    width: 120px;
    padding: 5px;
    position: relative;
    top: -70px;
}

.second-column input{
    width: 250px;
    height: 30px;
}

.second-column input:focus{
    background-color: whitesmoke;
    border-color: 1px solid black;
}

.second-column span{
    margin-top: -5px;
}

.empty-div{
    width: 12px;
    height: 12px;
    border: 2px solid #2F2F2F;
}

.login-button{
    margin-top: 20px;
    background: #DB3022;
    border: none;
    border-radius: 4px;
    color: white;
}

.google{
    border: none;
    color: black;
}

.facebook{
    border: none;
    background-color: #395185;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    color: white;
}

/* Loader Style goes here */
